@page
@model Admin.IndexModel
@{
    ViewData["Title"] = "CHGPA Roster Admin";
}
<div class="layout">
    <h2>@ViewData["Title"]</h2>
    <form method="post">
        <div class="input-form">
            <div class="input-container">
                <span>Last Name:</span><input asp-for="LastName" />
            </div>
            <div class="input-container">
                <span>Email:</span><input asp-for="Email" />
            </div>
            <div class="submit-button">
                <input type="submit" value="Search" />
            </div>
            <span class="validation-error">@Model.Message</span>
        </div>
    </form>
    @if (Model.Members.Count > 0) {
    <div class="table-wrapper">
        <table class="roster">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Members[0].LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Members[0].FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Members[0].DateLastPaid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Members[0].ExpirationDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Members) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateLastPaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpirationDate)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.RowKey">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.RowKey">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.RowKey">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    }
</div>