@page
@model Admin.RegistrationsModel
@{
    ViewData["Title"] = "Registrations";
}
<div class="layout">
    <h2>@ViewData["Title"]</h2>
    @if (Model.Registrations.Length > 0) {
    <div class="table-wrapper">
        <table class="roster">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Registrations[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registrations[0].FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registrations[0].LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registrations[0].PaymentStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registrations[0].PaymentMethod)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registrations[0].PaymentAmount)
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Registrations) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMethod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentAmount)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    }
</div>