@page
@model Roster.Pages.IndexModel
@{
}
<h2>Hello, World!</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Members) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RowKey">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RowKey">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RowKey">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>